body{
 background: #283043
}

.github_img{
	width: 200px;
	height: 200px;
	border-radius: 100%;
}

.github_img:hover{
	background-color: yellow;
}

.site_title{
	color: #FFFFFF;
	margin-top: 20px;
}

.text_form{
	margin-top: 14px;
}

.site_input{
	background-color: #a2b4c3;
	color: #1a203c;
	border: 0px;
	border-radius: 6px;
}

.site_input:hover{
	text-decoration: underline;
}

.submit_button{
	background-color: #44586a;
	color: white;
	width: 100px;
	height: 40px;
}

.submit_button:hover{
	padding: 10px 24px;
	height: 50px;
	text-decoration: underline;
	background-color: #a2b6c4;
}

.main_content{
	margin-left: 10%;
}

.content{
	font-weight: 600p;
	color: #FFFFFF;
	font-size: 20px;
}

#react_div{
	margin-bottom: 14%;
}

.react_p_tag{
	color: #FFFFFF;
	font-size: 14px;
}